<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pekadev.audioplayer">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <application
        android:allowBackup="false"
        android:name="com.pekadev.audioplayer.view.application.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity android:name="com.pekadev.audioplayer.view.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.fragment.audiopage.AudioPageFragment"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <service android:name="com.pekadev.audioplayer.view.service.BackgroundSongPlayerService" />
    </application>

</manifest>